<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/xrckn8km6s/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="xrCKN8km6s" />
      <add key="ClearTextPassword" value="TOKEN" />
    </GitHub>
  </packageSourceCredentials>
</configuration>