<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/xrckn8km6s/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="xrCKN8km6s" />
      <add key="ClearTextPassword" value="43b5fa4226902ed481cab3ac0f7355fe47e5d2cd" /><!--readonly-->
    </GitHub>
  </packageSourceCredentials>
</configuration>