<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="GitHub" value="https://nuget.pkg.github.com/xrckn8km6s/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="xrCKN8km6s" />
            <add key="ClearTextPassword" value="2208fb408987ed51aa5c8cde2d4ab747cb0e5c4d" /> <!--readonly-->
        </GitHub>
    </packageSourceCredentials>
</configuration>