<mat-toolbar color="primary">

  <mat-toolbar-row>

    <a mat-button routerLink="" class="header-title">
      <mat-icon class="icon">view_agenda</mat-icon> Microservices front-end
    </a>

    <a mat-button routerLink="home">
      Home
    </a>

    <a mat-button routerLink="unauthorized">
      Unauthorized
    </a>

    <span class="example-spacer"></span>

    <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu">{{userName}} <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logOut()">Log Out</button>
    </mat-menu>

    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="User notifications" matBadge="22" matBadgeColor="warn">notifications
      </mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
